body{
    padding: 10px;
}
img {
    width: 200px;
}
.search{
    margin: 10px 0;
}
.search input{
    width: 100%;
}
.char{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}